.bg{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.logo-d{
    position: absolute;
    top: 5%;
    left: 7%;
}


.main{
    position: absolute;
     top: 20%;
     left: 20%;
     right: 20%;

     button{
        background: #5E5DF0;
                border-radius: 15px;
                box-shadow: #5E5DF0 0 10px 20px -10px;
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 600;
                padding: 10px;
                width: 200px;
                border: 0;
    }
}

#video {
    border: 1px dotted #5E5DF0;
    width: 85%;
    height: 80%;
}
  

